@import "tailwindcss";

@theme {
  --color-on-tertiary-container: #000000;
  --color-inverse-on-surface: #283044;
  --color-primary-fixed-dim: #454748;
  --color-tertiary-fixed: #505f76;
  --color-on-secondary-fixed-variant: #2e3c4e;
  --color-tertiary: #d3e4fe;
  --color-surface-container: #171f33;
  --color-on-surface-variant: #c6c6c6;
  --color-on-secondary-fixed: #0d1c2d;
  --color-surface-variant: #2d3449;
  --color-on-tertiary-fixed: #ffffff;
  --color-on-error: #690005;
  --color-surface: #0b1326;
  --color-on-primary-fixed: #ffffff;
  --color-on-primary-fixed-variant: #e1e3e4;
  --color-background: #0b1326;
  --color-secondary-fixed-dim: #9dacc2;
  --color-secondary: #b9c8de;
  --color-surface-dim: #0b1326;
  --color-primary-fixed: #5c5f60;
  --color-primary: #ffffff;
  --color-on-background: #dae2fd;
  --color-error-container: #93000a;
  --color-secondary-container: #39485a;
  --color-on-error-container: #ffdad6;
  --color-secondary-fixed: #b9c8de;
  --color-on-tertiary: #0b1c30;
  --color-on-primary-container: #000000;
  --color-surface-bright: #31394d;
  --color-inverse-surface: #dae2fd;
  --color-on-primary: #191c1d;
  --color-surface-container-low: #131b2e;
  --color-on-secondary: #0d1c2d;
  --color-surface-container-lowest: #060e20;
  --color-on-surface: #dae2fd;
  --color-tertiary-container: #8292aa;
  --color-error: #ffb4ab;
  --color-tertiary-fixed-dim: #38485d;
  --color-on-secondary-container: #d4e4fa;
  --color-inverse-primary: #5c5f60;
  --color-primary-container: #d3d4d5;
  --color-outline-variant: #474747;
  --color-surface-container-high: #222a3d;
  --color-surface-tint: #c5c7c8;
  --color-surface-container-highest: #2d3449;
  --color-on-tertiary-fixed-variant: #d3e4fe;
  --color-outline: #919191;

  --radius-DEFAULT: 0rem;
  --radius-lg: 0rem;
  --radius-xl: 0rem;
  --radius-full: 9999px;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
  --font-manrope: "Manrope", sans-serif; /* Adding for the font-manrope class in navbar */
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 115%; /* Increments base rem size to scale everything up uniformly */
  }
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: 'Manrope', sans-serif;
  }
}

@layer utilities {
  .sharp-edge {
    border-radius: 0 !important;
  }
}
